<!DOCTYPE html>
<html>
<head>

	<title>elle</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.1/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.1/quill.min.js"></script>
    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="//cdn.quilljs.com/1.3.1/quill.core.css" rel="stylesheet">
    <script src="//cdn.quilljs.com/1.3.1/quill.core.js"></script>
    
    <link href="https://cdn.quilljs.com/1.3.1/quill.snow.css" rel="stylesheet">

	<!-- for the screen sharing part-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<script>
		$(function(){            
			var host = '{{config.host}}';
            
			var messages = io.connect(host + '/messages');
			var savesession = io.connect(host + '/savesession');
			var content = io.connect(host + '/content')
            
			var roomNum = '{{room_number}}';
			var userName = '{{user.fullname}}';
			var userPic = '{{user.profilePic}}';
			var room_creator = '{{room_by}}';
            var room_name = '{{room_name}}';
            
            var Conte = []; //Array initialised to store the content in pointwise manner
          
            messages.on('connect', function(){
				messages.emit('joinroom', {room:roomNum, user:userName, userPic:userPic})
			})
            
			content.on('connect', function(){
				content.emit('joinroom', {room:roomNum, user:userName, userPic:userPic})
			})
                      
          // to check if the user in the room is the actual creator of this room of just a visitor 
            if(userName == room_creator){    // ie. check if he is the creator
                $("#creator-container").show();
                $("#visitor-container").hide();
            }
            else{
                $("#creator-container").hide();
                $("#visitor-container").show();
            }
        

			// dealing with chat messages starts here ..................................................
			$(document).on('keyup', '.newmessage', function(e){
				if(e.which === 13 && $(this).val()!=''){
					messages.emit('newMessage',{
						room_number:roomNum,
                        room_name:room_name,
                        room_creator:room_creator,
						user:userName,
						userPic:userPic,
						message:$(this).val()
					})
					updateMessageFeed(userPic, $(this).val());
					$(this).val('');
				}
			})

			messages.on('messagefeed', function(data){
                var msgs = JSON.parse(data);
				updateMessageFeed(msgs.userPic, msgs.message, msgs.user, userName);
			})

			function updateMessageFeed(userPic, message, user, userNames){
                if(user==userNames){
                    var str = '<div class="panel-body"><div class="row"><img class="align-right" src="'+userPic+'" style="height:30px; width:30px; border:5px;"/><div class="text-right"><h6>'+message+'</h6><input type="text" class="form-control inside" style="border-radius:3px; height:30px;"  placeholder="Reply"></div></div></div>';    
                }else{
                    var str = '<div class="panel-body"><div class="row"><img class="align-left" src="'+userPic+'" style="height:30px; width:30px; border:5px;"/><div class="text-left"><h6>'+message+'</h6><input type="text" class="form-control inside" style="border-radius:10px; height:30px;" placeholder="Reply"></div></div></div>';
                }
                
				$(str).appendTo($('.messages'));
                var div = document.getElementById('messagebox');
                div.scrollTop = div.scrollHeight - div.clientHeight;
                var div2 = document.getElementById('messagebox2');
                div2.scrollTop = div2.scrollHeight - div2.clientHeight;
                
			}
			//............ dealing for chat messages ends here...........................................
			
        
        
			// dealing with creator content for room starts here..................................................
			$(document).on('keyup', '.newcontent', function(e){
				if(e.which === 13 && $(this).val()!=''){
                    
                    //Array to store the content in pointwise manner
                    console.log(Conte.length);
                    
                    var pointno = Conte.length + 1;
                                        
					messages.emit('newcontent',{
						room_number:roomNum,
                        room_name:room_name,
						user:userName,
						userPic:userPic,
						content:$(this).val(),
                        pointno:pointno
					})
                    Conte.push({pointno:pointno,text:$(this).val()});
					updateContentFeed(userPic, pointno, $(this).val());
					$(this).val('');
				}
			})

			messages.on('contentfeed', function(data){
				var cont = JSON.parse(data);
				updateContentFeed(cont.userPic, cont.content);
			})

			function updateContentFeed(userPic, pointno, content){
                var point = pointno.toString()+". ";
                var contento = point.concat(content);
                var str = '<h5>'+contento+'</h5>';
//                var str = '<div class="row" style="margin:10px;"><h5>'+pointno+'</h5><h5>'+content+'</h5></div>';
                
                $(str).appendTo($('.content'));
                
                var dic = document.getElementById('contentbox');
                dic.scrollTop = dic.scrollHeight - dic.clientHeight;
                var dic2 = document.getElementById('contentbox2');
                dic2.scrollTop = dic2.scrollHeight - dic2.clientHeight;
			}
			// for creator content for room ends here..................................................
        
        
        // save content from redis to db
			$(document).on('click', '#saveTheSession', function(e){
                    var contentss = $('#content_content').html();
                    var conto= contentss.replace("<h5>", "");
				    var connto = conto.replace("</h5>", "");
					savesession.emit('saveTheSession',{
						room_number:roomNum,
						user:userName,
                        room_name: room_name,
						userPic:userPic,
                        room_creator: room_creator,
                        content:connto
					})
			})
        })  
        
	</script>
    
	</head>
	<style type="text/css">
        
        /* css for chat messages starts*/
        .align-left {
            float: left;
            margin: 0 10px 0 0;
        }
        .align-right {
            float: right;
            margin: 0 0 0 10px;
        }
        .row {
            width: 100%;
            overflow: hidden;
        }
        .text-right {
            border: solid 1px #82E0AA;
/*          background: #EAFAF1;*/
            border-radius: 5px;
            overflow: hidden;
            padding: 5px;
            font-family:Lucida Sans Unicode;
        }
        .text-left {
/*          background: #EAFAF1;*/
            border: solid 1px #82E0AA;
            border-radius: 5px;
            overflow: hidden;
            padding: 5px;
            font-family:Lucida Sans Unicode;
        }
        /*css for  chat msgs ends*/
        
		.make-center {
            text-align: center;
            padding: 5px 10px;
        }
        video {
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            vertical-align: top;
            width: 100%;
        }
        .setup {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            font-size: 102%;
            height: 47px;
            margin-left: -9px;
            margin-top: 8px;
            position: absolute;
        }
        #visitor-container{
            display:none;
        }
        #biscuit{
            display:none;
        }
        #contentbis{
            display:none;
        }
        .form-control{
            border-radius: 0;
            height: 50px;
        }
        .inside{
            border: none;
            border-bottom: solid 1px #c9c9c9;
            transition: border 0.3s;  
        }
        .style-4 input[type="text"] {
            padding: 10px;
            border: none;
            border-bottom: solid 1px #c9c9c9;
            transition: border 0.3s;
        }
	</style>
    
        <!-- scripts used for screen-sharing -->
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ajhifddimkapgcifgcodmmfdlknahffk">
        <script src='https://cdn.webrtc-experiment.com/firebase.js'> </script>
        <script src="https://cdn.webrtc-experiment.com/getScreenId.js"> </script>
        <script src="https://cdn.webrtc-experiment.com/BandwidthHandler.js"></script>
        <script src="https://cdn.webrtc-experiment.com/screen.js"> </script>

	<body>
        
<!-- NAV BAR STARTS HERE -->
    <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">elle</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-tab navbar-right">
                  <li><img src ='{{user.profilePic}}' style="float:right; width:30px; height: 30px; margin-top:10px; margin-right:20px;"></li>
                  <li><h5 style="padding-top:10px; margin-right:20px;">Welcome {{ user.fullname }} !!!</h5></li>                  
<!--                  <li><a href="/chatroom">Gallery</a></li>-->
                </ul>      
            </div>
         </ul>
        </div>
     </nav>

<!-- BODY CONTENT STARTS HERE -->

<!--upper container for room mane and welcome for user-->
		<div class="container" style="margin-top:5%;">
			<div class="container">
				<div class="rm-roomname" style="width:65%; float: left; padding-left: 20%;">
                    <p align=center><h4 style="color:#5DADE2;">{{room_name}}</h4></p>                    
				</div>
			</div>	
		</div>		
    
<!-- second container containing the main content box ||  if user is the creator of this room -->
<!-- the user content upload section-->
    <div id='creator-container' >
        <div class="container" style="margin-top:5px;">
			<div class="container" style="width:70%; float: left;">
				<div class="rm-roomname">
					<div id='contentbox' style="width:100%; float:right; min-height:150px;">   
                        <textarea class="editor" id="content_content" style="padding: 10px; height: 450px; width:100%; overflow:auto; font-family: 'Georgia', serif; color: #7FFF00;" placeholder="Start coding ........">	
						</textarea>
                        <!--	<input type="text" class="newcontent form-control" autocomplete="off" placeholder="Enter Content.....">-->
<!--                        <img id="saveTheSession" src="../../images/Chat.png" title="Save" width="30" height="30">-->
					</div>	
                    <br>
				</div>
			</div>	
            <!-- the user message recieve and reply section-->
			<div class="container" style="width:30%; float: right;">
				<div class="rm-userbox">
				</div>
				<div id='messagebox' style="width:100%; min-height:150px; overflow:auto;">
				    <div class="messages" style="height: 450px; padding:10px; ">
				    
                    </div>
				</div>	
				<div class="rm-newmessage">
					<input type="text" class="newmessage form-control" autocomplete="off" placeholder="Reply">
				</div>
					
			</div>
            
		</div>
    </div>
<!--second container ends-->


<!-- second container containing the main content box  || if user is the visitor of this room-->
<!-- the user content upload section  -->
		<div class="container" id='visitor-container' style="margin-top:5px;">
			<div class="container" style="width:70%; float: left;">
				<div class="rm-roomname">
					<div id='contentbox' style="width:70%; float:right; min-height:150px;">   			
			    			<div class="content" style="padding: 10px; height: 450px; background: #f7f8f9; overflow:auto; ">
							</div>
					</div>	
				</div>
			</div>	
<!-- the user message recieve and reply section-->
			<div class="container" style="width:30%; float: right;">
				<div class="rm-userbox">
				</div>
				<div id='messagebox2' style="width:100%; min-height:150px; overflow:auto;">
				    <div class="messages" style=" padding:10px; height: 450px; ">
				    </div>
				</div>	
				<div class="rm-newmessage">
					<input type="text" class="newmessage form-control" autocomplete="off" placeholder="Queries ">
				</div>
					
			</div>
		</div>
<!--second container ends-->


<!-- third container starts // it contains the switches -->
<!--
		<div class="container" style="margin-top:5px;">
			<div class="panel-body">
				<button id="fileshare" class="glyphicon glyphicon-paperclip" style="margin-right:10px;"></button>
				<button id="share-screen" class="glyphicon glyphicon-blackboard" style="margin-right:10px;"></button>
				<button id="videochat" class="glyphicon glyphicon-facetime-video" style="margin-right:10px;"></button>
				<button id="saveTheSession" class="glyphicon glyphicon-save"></button>
			</div>
		</div>
-->
        <!-- list of all available broadcasting rooms -->
        <div class="container" style="margin-top:5px;">
			<div class="panel-body">
				<table style="width: 87%;" id="rooms-list"></table>        
			</div>
		</div>  
<!--third container ends-->

    
        <!--test section-->
        <div class="container" style="margin-top:5px;">
			<div class="panel-body" id="biscuit">
                {{room_content}}
			</div>
		</div>
        <div class="container" style="margin-top:5px;">
			<div class="panel-body" id="contentbis">
                {{room_content_con}}
			</div>
		</div>

<!-- Page controll scripts here-->

<!-- Page controll scripts here-->

        <script> 
            // to get message contents on page reload            
            var bis = document.getElementById("biscuit").innerHTML;
            var biss = '['+bis+']';
            var jiss = JSON.parse(biss);
            console.log(biss);
            
            for (i=0; i<jiss.length; i++){
                
                var userNamez = '{{user.fullname}}';
                if(jiss[i].user==userNamez){
                    var str = '<div class="panel-body"><div class="row"><img class="align-right" src="'+jiss[i].userPic+'" style="height:30px; width:30px; border:5px;"/><div class="text-right">'+jiss[i].message+'</div></div></div>';    
                }else{
                    var str = '<div class="panel-body"><div class="row"><img class="align-left" src="'+jiss[i].userPic+'" style="height:30px; width:30px; border:5px;"/><div class="text-left">'+jiss[i].message+'</div></div></div>';
                }
                
                $('.messages').prepend(str);
            }
            
            // to get contents on page reload            
            var cbis = document.getElementById("contentbis").innerHTML;
            var cbiss = '['+cbis+']';
            var cjiss = JSON.parse(cbiss);
            console.log(typeof cjiss);
            
            for (i=0; i<cjiss.length; i++){
                var str = '<h5>'+cjiss[i].content+'</h5>';
                $('.content').prepend(str);
            }
                
                
        </script>

	</body>

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.1/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
      var quill = new Quill('.editor', {
        theme: 'bubble'
      });
    </script>
</html>
